* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(55, 103, 131);
}

::placeholder {
    color: rgb(143, 143, 143);
}

#game-container {
    display: grid;
    justify-content: center;
    align-content: center;
}
#start-game-form {
    justify-content: center;
    align-content: center;
    align-items: center;
}
#game-title {
    font-size: 20pt;
    color: rgb(213, 235, 248);
    justify-self: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
#game-board {
    width: 468px;
    height: 468px;
    display: grid;
    border: solid 3px rgb(213, 235, 248);
    background-color: rgb(179, 210, 228);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}

.cell {
    color: rgb(213, 235, 248);
    border: 3px solid rgb(213, 235, 248);
    display: flex;
    justify-content: center;
    
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 150px;
    height: 150px;
    font-size: 6.5rem;
}

.winningLine {
    color: rgb(179, 210, 228);
    background-color: rgb(213, 235, 248);
}

#start-game-btn {
    padding: 0.45rem 0.8rem;
    border-radius: 7px;
    border-color: rgb(179, 210, 228);
    color: rgb(55, 103, 131);
    background-color: rgb(179, 210, 228);
}

#start-game-btn:hover {
    cursor: pointer;
}

.player-names {
    color: gray;
    background-color: rgb(242, 247, 250);
    border-color: rgb(242, 247, 250);
    border-radius: 4px;
    padding: 0.45rem 0.8rem;
    outline: none;
}

#player-turn {
    color: rgb(213, 235, 248);
}

#restart-btn {
    width: 6rem;
    height: 2.2rem;
    padding: 0.45rem 0.8rem;
    border-radius: 7px;
    border-color: rgb(179, 210, 228);
    color: rgb(55, 103, 131);
    background-color: rgb(179, 210, 228);
}